/* Grid */
#gridContainer {
    display: grid;
    grid-template-rows:[header] auto [content] auto [footer] auto;
    grid-template-columns: [nav] 150px [main] 1fr [aside] 200px;
    grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
}

/* Sections */
header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

nav, main, aside {
    margin-top: 10px;
}

aside {
    grid-area: aside;
    padding: 0px 10px;
}

footer {
    grid-area: footer;
    text-align: center;
}

/* IDs */
#logoutButtonBack, #loginButton {
    margin: 1em 0px;
    width: 100%;
}

#logoutButton {
    text-decoration: none;
}

#offers {
    border-style: solid;
    padding: 0px 1em;
}

#login, #logout {
    margin: 10px 0px;
}

/* Element characteristics */
input[name="username"], input[name="password"] {
    width: 100%;
}

strong[name="errorText"] {
    color: #FF0000;
}