#gridContainer {
    display: grid;
    grid-template-rows:[header] auto [content] auto [footer] auto;
    grid-template-columns: [nav] 150px [main] 1fr [aside] 200px;
    grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

nav, main, aside {
    margin-top: 10px;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
    text-align: center;
}